<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand navbar-brand-custom" href="#"><i class="fas fa-glass-cheers"></i>  SORTIR.COM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a class="nav-link" href={{ path("sorties") }}>Voir les Sorties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path("create_sortie") }}>Créer une sortie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path("profil_show") }}>Mon profil</a>
                </li>
                {% if is_granted('ROLE_ADMIN')%}
                    <li class="nav-item">
                        <a class="nav-link" href={{ path("gestion_ville") }}>Villes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path("gestion_site") }}>Sites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path("gestion_lieu") }}>Lieux</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href={{ path("participant_logout") }}>Se déconnecter {{ app.user.username }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href={{ path("participant_login") }}>Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path("participant_register") }}>S'inscrire</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>